.arena {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #222;
  }
  
  .card {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px;
  }
  
  .player-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }
  
  .enemy-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  
  